In [2]:
!pip install bs4==4.10.0 -y
!pip install lxml==4.6.4
!pip install html5lib==1.1 -y
!pip install pandas
# !pip install requests==2.26.0

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: -y

Requirement already satisfied: lxml==4.6.4 in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (4.6.4)

Usage:
  pip install [options] <requirement specifier> [package-index-options] ...
  pip install [options] -r <requirements file> [package-index-options] ...
  pip install [options] [-e] <vcs project url> ...
  pip install [options] [-e] <local project path> ...
  pip install [options] <archive url/path> ...

no such option: -y

Requirement already satisfied: pandas in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
pip install --upgrade beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (4.12.2)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.13.3-py3-none-any.whl.metadata (3.8 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (from beautifulsoup4) (4.11.0)
Downloading beautifulsoup4-4.13.3-py3-none-any.whl (186 kB)
   ---------------------------------------- 0.0/186.0 kB ? eta -:--:--
   -- ------------------------------------- 10.2/186.0 kB ? eta -:--:--
   ------------------------------ --------- 143.4/186.0 kB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 186.0/186.0 kB 2.3 MB/s eta 0:00:00
Installing collected packages: beautifulsoup4
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.12.2
    Uninstalling beautifulsoup4-4.12.2:
      Successfully uninstalled beautifulsoup4-4.12.2
Successfully installed beautifulsoup4-4.13.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\coder\anaconda3\envs\tensorflow\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import warnings
warnings.simplefilter("ignore")

In [2]:
from bs4 import BeautifulSoup # this module helps in web scrapping.
import requests  # this module helps us to download a web page

In [3]:
html="<!DOCTYPE html><html><head><title>Page Title</title></head><body><h3><b id='boldest'>Lebron James</b></h3><p> Salary: $ 92,000,000 </p><h3> Stephen Curry</h3><p> Salary: $85,000, 000 </p><h3> Kevin Durant </h3><p> Salary: $73,200, 000</p></body></html>"

In [4]:
soup = BeautifulSoup(html, "html.parser")

In [5]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   Page Title
  </title>
 </head>
 <body>
  <h3>
   <b id="boldest">
    Lebron James
   </b>
  </h3>
  <p>
   Salary: $ 92,000,000
  </p>
  <h3>
   Stephen Curry
  </h3>
  <p>
   Salary: $85,000, 000
  </p>
  <h3>
   Kevin Durant
  </h3>
  <p>
   Salary: $73,200, 000
  </p>
 </body>
</html>

In [6]:
tag_object=soup.title
print("tag object:",tag_object)

tag object: <title>Page Title</title>

In [7]:
print("tag object type:",type(tag_object))

tag object type: <class 'bs4.element.Tag'>

In [8]:
tag_object=soup.h3
tag_object

In [9]:
tag_child =tag_object.b
tag_child

In [10]:
parent_tag=tag_child.parent
parent_tag

In [11]:
tag_object

In [12]:
tag_object.parent

In [13]:
sibling_1=tag_object.next_sibling
sibling_1

In [14]:
sibling_2=sibling_1.next_sibling
sibling_2

In [15]:
ans = sibling_2.next_sibling
ans

In [16]:
tag_child['id']

'boldest'

In [17]:
tag_child.attrs

{'id': 'boldest'}

In [18]:
tag_child.get('id')

'boldest'

In [19]:
tag_string=tag_child.string
tag_string

'Lebron James'

In [20]:
type(tag_string)

bs4.element.NavigableString

In [21]:
unicode_string = str(tag_string)
unicode_string

'Lebron James'

In [24]:
print(type(tag_string))
print(type(unicode_string))

<class 'bs4.element.NavigableString'>
<class 'str'>

In [25]:
table="<table><tr><td id='flight' >Flight No</td><td>Launch site</td><td>Payload mass</td></tr><tr><td>1</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a></td><td>300 kg</td></tr><tr><td>2</td><td><a href='https://en.wikipedia.org/wiki/Texas'>Texas</a></td><td>94 kg</td></tr><tr><td>3</td><td><a href='https://en.wikipedia.org/wiki/Florida'>Florida</a> </td><td>80 kg</td></tr></table>"

In [26]:
table_bs = BeautifulSoup(table, "html.parser")

In [27]:
print(table_bs.prettify())

<table>
 <tr>
  <td id="flight">
   Flight No
  </td>
  <td>
   Launch site
  </td>
  <td>
   Payload mass
  </td>
 </tr>
 <tr>
  <td>
   1
  </td>
  <td>
   <a href="https://en.wikipedia.org/wiki/Florida">
    Florida
   </a>
  </td>
  <td>
   300 kg
  </td>
 </tr>
 <tr>
  <td>
   2
  </td>
  <td>
   <a href="https://en.wikipedia.org/wiki/Texas">
    Texas
   </a>
  </td>
  <td>
   94 kg
  </td>
 </tr>
 <tr>
  <td>
   3
  </td>
  <td>
   <a href="https://en.wikipedia.org/wiki/Florida">
    Florida
   </a>
  </td>
  <td>
   80 kg
  </td>
 </tr>
</table>

In [29]:
table_rows=table_bs.find_all('tr')
table_rows

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>]

In [31]:
first_row =table_rows[0]
first_row

In [32]:
print(type(first_row))

<class 'bs4.element.Tag'>

In [33]:
first_row.td

In [34]:
for i, row in enumerate(table_rows):
    print("row", i, "is", row)

row 0 is <tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>
row 1 is <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>
row 2 is <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>
row 3 is <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>

In [36]:
for i, row in enumerate(table_rows):
    print("row", i)
    cells = row.find_all('td')
    for j,cell in enumerate(cells):
        print("column", j, "cell", cell)

row 0
column 0 cell <td id="flight">Flight No</td>
column 1 cell <td>Launch site</td>
column 2 cell <td>Payload mass</td>
row 1
column 0 cell <td>1</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>
column 2 cell <td>300 kg</td>
row 2
column 0 cell <td>2</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>
column 2 cell <td>94 kg</td>
row 3
column 0 cell <td>3</td>
column 1 cell <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>
column 2 cell <td>80 kg</td>

In [38]:
list_input = table_bs.find_all(name=["tr","td"])
list_input

[<tr><td id="flight">Flight No</td><td>Launch site</td><td>Payload mass</td></tr>,
 <td id="flight">Flight No</td>,
 <td>Launch site</td>,
 <td>Payload mass</td>,
 <tr><td>1</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td><td>300 kg</td></tr>,
 <td>1</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a></td>,
 <td>300 kg</td>,
 <tr><td>2</td><td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td><td>94 kg</td></tr>,
 <td>2</td>,
 <td><a href="https://en.wikipedia.org/wiki/Texas">Texas</a></td>,
 <td>94 kg</td>,
 <tr><td>3</td><td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td><td>80 kg</td></tr>,
 <td>3</td>,
 <td><a href="https://en.wikipedia.org/wiki/Florida">Florida</a> </td>,
 <td>80 kg</td>]

In [39]:
table_bs.find_all(id = "flight")

In [40]:
list_input = table_bs.find_all(href = "https://en.wikipedia.org/wiki/Florida")
list_input

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [41]:
table_bs.find_all(href = True)

[<a href="https://en.wikipedia.org/wiki/Florida">Florida</a>,
 <a href="https://en.wikipedia.org/wiki/Texas">Texas</a>,
 <a href="https://en.wikipedia.org/wiki/Florida">Florida</a>]

In [47]:
table_bs.find_all('a', href = False)

[]

In [48]:
soup.find_all(id = 'boldest')

In [49]:
table_bs.find_all(string = "Florida")

['Florida', 'Florida']

In [50]:
two_tables="<h3>Rocket Launch </h3><p><table class='rocket'><tr><td>Flight No</td><td>Launch site</td> <td>Payload mass</td></tr><tr><td>1</td><td>Florida</td><td>300 kg</td></tr><tr><td>2</td><td>Texas</td><td>94 kg</td></tr><tr><td>3</td><td>Florida </td><td>80 kg</td></tr></table></p><p><h3>Pizza Party  </h3><table class='pizza'><tr><td>Pizza Place</td><td>Orders</td> <td>Slices </td></tr><tr><td>Domino's Pizza</td><td>10</td><td>100</td></tr><tr><td>Little Caesars</td><td>12</td><td >144 </td></tr><tr><td>Papa John's </td><td>15 </td><td>165</td></tr>"

In [51]:
two_tables_bs = BeautifulSoup(two_tables, "html.parser")

In [54]:
two_tables_bs.find(table)

In [57]:
two_tables_bs.find(table, class_='pizza')

In [58]:
url = "https://web.archive.org/web/20230224123642/https://www.ibm.com/us-en/"

In [59]:
data  = requests.get(url).text

In [61]:
soup = BeautifulSoup(data, 'html.parser')

In [62]:
for link in soup.find_all('a', href = True):
    print(link.get('href'))

https://web.archive.org/web/20230224123642/https://www.ibm.com/reports/threat-intelligence/
https://web.archive.org/web/20230224123642/https://www.ibm.com/about
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/strategy/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/ibmix?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/technology/
https://web.archive.org/web/20230224123642/https://www.ibm.com/consulting/operations/?lnk=flathl
https://web.archive.org/web/20230224123642/https://www.ibm.com/strategic-partnerships
https://web.archive.org/web/20230224123642/https://www.ibm.com/employment/?lnk=flatitem
https://web.archive.org/web/20230224123642/https://www.ibm.com/impact
https://web.archive.org/web/20230224123642/https://research.ibm.com/
https://web.archive.org/web/20230224123642/https://www.ibm.com/